<div class="container">

    <h2>Give the owner and the repo that you want on Github</h2>

    <h3>Here it is a list of your old queries</h3>
    <div compile="vm.oldData" ng-init="vm.initData()"></div>

    <form name="form" ng-submit="vm.submit()">
        <label>Owner: </label><input ng-model="vm.owner" name="owner" type="text">
        <label>Repo: </label><input ng-model="vm.repo" name="repo" type="text">
        <button type="submit">Save</button>
    </form>

    <div ng-bind-html="vm.err" ng-style="{'color': 'red'}"></div>

    <h2>Here it is the graph showing your commit over the time!</h2>
    <canvas 
        id="line" 
        class="chart chart-line" 
        chart-data="vm.data"
        chart-labels="vm.labels" 
        chart-series="vm.series" 
        chart-options="vm.options">
    </canvas>

</div>
